

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

#heading{
    display: flex;

}
.img1{
    margin-top: 50px;
    margin-left: 40%;
    width: 60%;
}

#main{
width: 100%;
margin: auto;
margin-top: 100px;

}

/* Container holding the image and the text */
#container-1 {
  position: relative;
  text-align: center;
  color: white;
  margin-right: 70px;
}

.h2-tag{
    font-size: 35px;
}

.p-tag{
    font-size: 24px;
}

/* Bottom left text */
.glass {
    width: 50%;
    height: 450px;
    
  background-color: black; 
  position: absolute;
  bottom: 30px;
  left: -16px;
  top: 100px;
  font-size: 50px;
  text-align: left;
  padding: 20px;
  

  /* padding-left:60px;
  padding-right:60px; */
}
#para>p:nth-child(2){
    font-size: 20px;
    margin-top: 30px;
    color: grey;
}

#para{
width: 90%;
margin: auto;
margin-top: 50px;
font-style: initial;

}

#para2{
    margin-top: 30px;
    font-style: sans-serif;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -1px;
    margin: 0px 128.5px;
    padding: 0px 56px;
    font-family:  "GT America", Helvetica, Arial, sans-serif;

}

#parablock{
    padding: 64px 0px 96px;
}

#para>button{
    border-radius: 30px;
    height: 40px;
    font-weight: bold;
    background-color: blue;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 35%;
    padding: 8px;
    font-size: 20px;
    color: white;
}

.headerblock{
    color: #FF0D49;
    margin: 0px 0px 8px;
    margin-left: 5%;
    font-family:  "GT America", Helvetica, Arial, sans-serif;
}

.headerblock-title{
    line-height: 44px;
    letter-spacing: -.5px;
    font-size: 30px;
    margin-left: 5%;
    font-family:  "GT America", Helvetica, Arial, sans-serif;

}
.block2para1{
        color: #020202;
        margin-left: 5%;
        font-family:  "GT America", Helvetica, Arial, sans-serif;

}

.block2para2{
    color: #020202;
    margin-left: 5%;
    font-family:  "GT America", Helvetica, Arial, sans-serif;

    

}

#block2{
    width: 90%;
    padding: 10px;
    display: flex;
    margin: auto;
    gap: 10px;
    height: 650px;
   

}
#block3{
    width: 90%;
    padding: 10px;
    display: flex;
    margin: auto;
    gap: 10px;
    height: 650px;
    margin-top: 110px;

}

.block2-1{
    width: 45%;
    margin: auto;

}
.block2-2{
    
    margin: auto;
    margin-left: -2%;
    width: 45%;
    
}
.block2-2>img{
    margin: auto;
    width: 90%;
    height: 400px;
    display: block;
    margin-left: 14%;
   
}
.block2-1>p:first-child{
  
    font-size: 25px;

}
.block2-1>p+h2{
    margin-top: 38px;
    font-size: 48px;
    font-weight: lighter;
}

.block2-1>p+h2+p{
    
    margin-top: 40px;
    font-size: 22px;
 
    
}
.block2-1>p+h2+p+p{
    margin-top: 40px;
    font-size: 22px;
    
}

.block4{
    width: 90%;
    margin: auto;
    margin-top: 200px;
    color: #020202;
    font-size: 25px;
    font-family:  "GT America", Helvetica, Arial, sans-serif;
}

#str1{
color: #FF0D49;
}

.headerblocktitle-h2{
    margin-left: 26px;
    font-size: 30px;
    margin-bottom: 25px;
    font-family:  "GT America", Helvetica, Arial, sans-serif;

}

.section4content{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(21, 43, 53, 0.12) 0px 2px 4px 0px, rgba(21, 42, 51, 0.32) 0px 2px 16px 0px;
    position: relative;
}

.hederblocktitle1{
    margin: auto;
    margin-top: 20px;
    padding: 16px;
    font-size: 15px;
    font-weight: bold;
    font-family:  "GT America", Helvetica, Arial, sans-serif;
    color: #020202;
}

.hederblockpara{
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 35px;
    color: gray;
    font-weight: bold;
    font-family:  "GT America", Helvetica, Arial, sans-serif;
}

.blockscc-1{
  padding: 10px;
  text-align: left;
}

#teer{
    position: absolute;
    top: 50px;
    right: 70px;
    /* margin-top: 25px;
    margin-right: 50px; */
    /* float: right; */
    
}

.block5{
    /* width: 115%; */
    margin: auto;
    height: 500px;
    /* padding: 100px 101px; */
    /* margin-left: -67px; */
    background-color: #004bff;;
    color: #FFFFFF;
    font-size: 20px; 
    margin: auto;
    /* text-align: center; */
    font-family:  "GT America", Helvetica, Arial, sans-serif;
}

#hederblocktitle2{

    font-family:  "GT America", Helvetica, Arial, sans-serif;
    /* line-height: 30px; */
    /* padding-bottom: 30px; */
    font-size: 45px;
    margin-top: 20px;

}

#headerlpara{
    /* line-height: 30px; */
    font-size: 34px;
    margin-top: 30px;


    
}

.block5wrAP{
    width: 80%;
    margin: auto;
    /* margin-top: 150px; */
    padding: 50px;
    /* border: 1px solid red; */
    text-align: center;
    /* display: block; */
}

#btn-btn{
    padding: 15px;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    color: #004bff;
    background: #fff;
    border-color: transparent;
    border-radius: 30px;
    font-family:  "GT America", Helvetica, Arial, sans-serif;

}




