#upper_slido{
    position: relative;
    height: 500px;
    width: 100%;
}
#upper_slido img{
    height: 500px;
    width: 100%;
}
#upper{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: white;
}
#upper div{
    margin-right: 20px;

}

#login{
    color: blue;
}
#login i{
    color: grey;
    margin-right: 20px;
}
#globe i{
    margin-right:5px;
    color: blue;

}
#globe{
    color: blue;
}
#navbar{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
h1{
    width: 70%;
    margin: auto;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:Arial, Helvetica, sans-serif;
   
}
#find{
    margin-top: -60px;
    width: 20%;
}
#what{
    width: 50%;
    margin-top: 100px;
}
        
#container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,180px);
    margin:auto;
   
    width: 95%;
    gap:1px;
   }
#container div{
width: 97%;
margin-bottom: 25px;
    
    
}
#fly{
    background-color: blue;
}


#fly .flyy{
    width: 80%;
    
    height:100%;
    background-color:blueviolet;
    color: white;
    font-size: 40px;
    align-items: flex-start;
padding: 30px;
    margin-top: -90px;
    
}

#inv{
    background-color: blue;
}


#inv .inve{
    width: 80%;
    height:100%;
    background-color:orangered;
    color: white;
    font-size: 40px;
    align-items: flex-start;
    padding: 30px;
    margin-top: -90px;
}

#enter{
    background-color: blue;
}


#enter .inve{
    width: 80%;
    height: 100%;
    background-color:rgb(238, 136, 170);
    color: white;
    font-size: 40px;
    align-items: flex-start;
    padding: 30px;
    margin-top: -90px;
}

#shop{
    background-color: blue;
}


#shop .inve{
    width: 80%;
    height:100%;
    background-color:lightblue;
    color: white;
    font-size: 40px;
    align-items: flex-start;
    padding: 30px;
    margin-top: -90px;
}

#play{
    background-color: blue;
}


#play .inve{
    width: 80%;
    height: 100%;
    background-color:deeppink;
    color: white;
    font-size: 40px;
    align-items: flex-start;
    padding: 30px;
    margin-top: -90px;
}

#connect{
    background-color: blue;
}


#connect .inve{
    width: 80%;
    height: 100%;
    background-color:yellowgreen;
    color: white;
    font-size: 40px;
    align-items: flex-start;
    padding: 30px;
    margin-top: -90px;
}


.fa-arrow-right{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 700px;
    color: white;
}






#import{
    width: 50%;
}
#book{
    display: flex;
    width: 90%;
    margin: auto;
   

}
#book h3{
    font-family:Arial, Helvetica, sans-serif;
   
}
#book div{
   
    padding: 20px;
    margin-right: 20px;
    
}
#book div img{
    height: 250px;
    width: 90%;
}
.max{
color:gray;
line-height: 30px;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;


}
.learn{
    color: rgb(125, 125, 224);
    cursor: pointer;
    
}
a{
    text-decoration: none;
    color: blue;
}

.learn i{
    margin-left: 10px;
    
    
}

/* swiper */
.swiper{
width: 80%;
height: 80%;
/* border: 1px solid red; */

}


.swiper-slide{
border-radius: 10px;

height: 500px;
width: 10%;
}


.swiper-button-next{
height: 10px;

}
.main{
border: 15px solid blue;
width: 80%;
margin: auto;
height: 440px;


}
.main p{
text-align: center;
color: red;
font-size: 20px;
}
.main p+p{
color: black;
font-size: 30px;
font-weight: bold;
margin-top: -10px;

}
.inn{
display: flex;
margin: auto;

width: 80%;
justify-content: space-evenly;
}
.inn div{

width: 40%;
margin-right: 40px;
font-size: 80px;
color: blue;
font-weight: bolder;
text-align: center;


}
.inn div p{
color:rgb(78, 75, 75)
}

.main img{
margin-left: 650px;
margin-top: 30px;
width: 100px;
height: 30px;

}
.mainn{
border: 15px solid blue;
width: 70%;
margin: auto;
height: 400px;
padding: 20px;
}
.mainn p{
margin-top: 30px;
font-size: 30px;
font-weight: bold;
margin-top: 30px;
}
.ok{
display: flex;
width: 90%;

margin: auto;
justify-content: space-between;
}
.ok div{
width:80%;


}
.ok div p{
font-size: 20px;
}
.ok div p+p{
margin-top: -15px;
color: gray;
}
.ok div img{
width: 80px;
margin-left: 200px;
}
span{
color:#FF0D49;
}
.mainnn{
border: 15px solid blue;
width: 70%;
margin: auto;
height: 400px;
padding: 20px;
}
.mainnn p{
margin-top: 30px;
font-size: 25px;
font-weight: bold;
margin-top: 30px;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* #fotout{
   margin-top: 100px;
    height: 650px;
    background-color: black;

}
#footerpart{
    display: flex;
    height: 480px;
}
#footerpart div{
    
    width: 20%;
    padding: 40px;
}
#footerpart p{
    color: white;
    font-size:large;
    font-weight: bold;
    cursor: pointer;
}
#footerpart h4{
    color: white;
    font-weight: bold;
    font-size:large;
    cursor: pointer;
}

#aiir img{
    width:100%;
    height: 80px;
    margin-right: 5px;
}

#legal{
    display: flex;
    width: 95%;
border-top: 1px solid grey;
    margin: auto;
    padding: 5px;
    margin-top: 20px;
}
#legal div{
    display: flex;
    width: 60%;
    margin-right: 30px;
    
    
}
#fran{
    display: flex;
    justify-content: flex-end;
}
#legal div p{
    margin-right: 20px;
    font-weight: bold;
    color:grey;
}
.fa-brands{
    margin-right: 25px;
    color: grey;
    font-size: 25px;
} */

 @media all and (min-width: 421px) and (max-width: 780px){
   #upper{
    width: 100%;
   }
   #upper_slido{
    width: 110%;
   }
   h1{
    width: 80%;
    margin: auto;
    font-size: 40px;
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    
   
}
#what{
    width: 90%;
    margin-left:100px ;
    font-size: 40px;
}
#find{
    width: 90%;
    margin-left: 100px;
    margin-top:-15px;
    font-size: 40px;
}
#container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(6,80px);
    margin:auto;
   
    width: 90%;
    gap:1px;
    
}
#container div{
    width: 100%;
}

#fly .flyy{
    width: 60%;
    
    height: 40%;
    background-color:blueviolet;
    color: white;
    font-size: 20px;
    margin-top:-51px ;
   }
   
#connect .inve{
    width: 60%;
    height:40%;
    background-color:yellowgreen;
    color: white;
    font-size: 20px;
    margin-top:-51px ;
  
}
   
#shop .inve{
    width: 60%;
    height:40%;
    background-color:rgb(147, 217, 240);
    color: white;
    font-size: 20px;
    margin-top:-51px ;
  
}
   
#play .inve{
    width: 60%;
    height:40%;
    background-color:deeppink;
    color: white;
    font-size: 20px;
    margin-top:-51px ;
  
}
   
#inv .inve{
    width: 60%;
    height:40%;
    background-color:orangered;
    color: white;
    font-size: 20px;
    margin-top:-51px ;
  
}

#enter .inve{
    width: 60%;
    height: 40%;
    background-color:rgb(238, 136, 170);
    color: white;
    font-size: 20px;
    margin-top:-51px ;
   
}

.fa-arrow-right{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 400px;
    color: white;
}
#import{

    font-size: 40px;
}
#book{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
   

}
#book h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
   
}
#book div{
   
    padding: 10px;
    margin-right: 10px;
    
}
#book div img{
    height: 200px;
    width: 100%;
}
.max{
color:gray;
line-height: 30px;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;


}
#login{
    font-size: 20px; 
}

#login i{
    margin-right: 20px;
    font-size: 20px;
}
#globe i{
    margin-right:5px;
    font-size: 20px;

}
#globe{
    font-size: 20px;
}




}
