@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
.container{
	/* max-width: 1170px; */
	margin:auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
    position: fixed;
}

.header{
	
	/* position: absolute; */
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	width: 100%;
	left:0;
	top:0;
	margin: 0;
	z-index: 99;
	/* padding: 15px; */
}

.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
   
	font-weight: 600;
}

.header-main {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0;
    border-radius: 4px;
    margin-top: 10px;
}
.header .nav-menu{
	padding: 0 15px;
}
.menu{
	width: 100%;
	margin-top: 10px;
}
.header .menu > .menu-item{
	display: inline-block;
	
	margin-left: 50px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 20px;
   /* width: auto; */
	text-transform: capitalize;
	font-weight: 800;
	transition: all 0.3s ease;
}

.d1 {
    left: 30% !important;
    right: auto !important;
    transform: translate(-20%, 0%) !important;
    /* border: 1px solid red; */
}


.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: auto;
	position: absolute;
	left:0;
	top:100%;
	margin-top: 13px;
	background-color: #ffffff;
	padding-left: 10px;
	
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}

.dropbtn1 {
    margin-right: 20px;
    background-color: white;
   text-align: center;
    color:  rgb(0, 75, 255);
    border: 1px solid rgb(0, 75, 255);
   cursor: pointer;
    border-radius: 25px;
    width: 150px;
}

.dropbtn1:hover {
 background-color:  rgb(0, 75, 255);;

    color: white;
    border: 1px solid white;
}

 .dropbtn2 {
    margin-right: 20px;
   background-color:  rgb(0, 75, 255);;

	text-align: center;
    color: #ffffff;
    border: 1px solid rgb(0, 75, 255);
     cursor: pointer;
     border-radius: 25px;
    width: 150px;

}

@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	/* padding: 10px 20px; */
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/*home section*/


/* responsive */

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 100%;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > .anchorDis{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > .anchorDis{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child >  .anchorDis{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}

	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}


	
.dropbtn1,.dropbtn2{
	  background-color: #222222;
	display: none;
	color:#222222;
	  border: 1px solid #222222;
}
.dropbtn1:hover{
	background-color: #222222;
	display: none;
	color:#222222;
	  border: 1px solid #222222;
}
	
}

/* problem */

.display_flex{
	display: flex;
	/* flex-direction: row; */
}


.saleAnc {
    color: black;
    padding: 5px 16px;
    margin-bottom: 10px;
    /* margin-left: 5px; */
    text-decoration: none;
    display: block;
    text-align: left;
  
}
.saleAnc {
    margin-bottom: 1px;
    background-color: white;
    color: black;
   
}

.saleAnc:hover {
   background-image: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);

    
    opacity: 0.9;
    color: white;
    /* border: 1px solid rgb(0, 75, 255);; */
    border-radius: 5px;
}
.box_two {
    width: 300px;
    background-color: whitesmoke;
    padding: 50px 0px 50px 20px;
    margin-right: -25px;
}
.box_two h4:hover {
    text-decoration: underline;
}
img{
    cursor: pointer;
} 

/* solution */

.an {
    width: 120px;
    padding-left: -10px;

}

.an1 {
    width: 120px;
    margin-left: 30px;
}

.drop_MDIV_Div1 {
    display: flex;
} 

.drop_MDIV_Div .heading_four:hover {
    padding: 10px;
   background-image: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);

    
    color: white;

    border-radius: 5px;
} 
.clo {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 0px;
    margin-right: 20px;
    margin-bottom: 20px;
	width: auto;

}

.clo1 {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 0px;
    margin-right: 20px;
    margin-bottom: 20px;
	width: auto;
}
.clo:hover,
.clo1:hover {
   background-image: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
 
    opacity: 0.9;
    color: white;
    border-radius: 5px;
} 
.drop_MDIV_Div1 {
    display: flex;
}
.div_wid{
	width: 250px;
}
.div_wid1{
	width: 200px;
}
.heading_four:hover{
	padding: 10px;
   background-image: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);

    color: white;
    border-radius: 5px;
} 

/* platform */




.justtry1 {
    display: flex;
   
  }
  .platform_main_heading{
      margin-top: 15px;
  }

  .platform_heading {
    font-weight: 600;
    color: rgb(24, 69, 174);
    font-size: 20px;
	margin-top: 10px;
	
	/* padding-bottom: -200px; */
  }
  .platform_heading:hover{
    /* font-weight: 600; */
    padding: 8px;
   background-image: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);

    color: white;
    /* font-size: 20px; */
  }
  .plat_head{
height: 75px;
  }

  .inner_platform_heading {
    font-weight: 600;
    font-size: 16px;
    color: rgb(24, 69, 174);
   
  }
   .inner_platform_heading:hover{
   background-image: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);

    color: white;
    padding: 3px;
 }
  .inner_platform_div {
    margin-left: 20px;
	
  }

  .mobile_data_hub {
    margin-left: 20px;
  }

  .saleAnc1 {
   
    background-color: white;
    color: black;
    margin-bottom: 10px;
     font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
   .saleAnc1:hover{
      padding: 3px;
	 background-image: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);

      color: white;
  }
  .p{
      margin-top: 90px;
  }
  .hori{
      margin-bottom: 5px;
      margin-top: -40px;
  }
  .hori1{
      margin-bottom: 5px;
  }


  .box_one {
      padding-top: 20px;
      padding-right: 40px;
      padding-bottom: 50px;
      padding-right: 10px;
    
  }

  .box_two {
      width: 300px;
      
      background-color: whitesmoke;
      padding: 50px 0px 50px 20px;
      margin-right: -25px;
  }

  .d1 {
      left: 30% !important;
      right: auto !important;
      transform: translate(-20%, 0%) !important;
      /* border: 1px solid red; */
  }

  .d2 {
      left: 30% !important;
      right: auto !important;
      transform: translate(-20%, 0%) !important;
      /* border: 1px solid red; */
  }


  .d3 {
      left: 50% !important;
      right: auto !important;
      transform: translate(-20%, 0%) !important;
      /* border: 1px solid red; */
  }

  .d4 {
      left: 60% !important;
      right: auto !important;
      transform: translate(-20%, 0%) !important;
      /* border: 1px solid red; */
  }


  .drop_rONE {
      display: flex;
  }

  .main_TWO {
      width: 300px;

      padding: 50px 10px 50px 20px;
  }
  .justtry1 {
    display: flex;
   
  }
  .plat_wid1{
	  width: 150px;
  }
  .plat_wid2{
	width: 400px;
} 


.anchorDis{
	color: #000000;
} 

.d1{
	padding: 20px;
	
}