/* -------------------------navbar 1 --------------------------------------- */
body{
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
}
#navbar1{
    width: 100%;
    margin: auto;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

/* -------Navbr1-Logo---------- */
#navbar1>div:nth-child(1){
    width: 15%;
   margin-left: 10px;
}
#navbar1>div:nth-child(1)>a>img{
    width: 100%;
    /* border: 1px solid blue; */
}

/* -----------------Navbar1-Text------------------- */
#navbar1>div:nth-child(2){
    width: 10%;
    text-align: center;
    border: none;
    margin-right: 60px;
   
    font-family: Arial, Helvetica, sans-serif;
}
#navbar1>div:nth-child(2)>a{
    text-decoration: none;
    color: #2979ff;
}
#navbar1>div:nth-child(2):hover{
    background-color: #e0e0e0;
}

/* -----------------navbar1-Icons----------------- */
#navbar1>div:nth-child(3){
    width: 5%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
}
.icon{
    width: 15px;
    height: 15px;
    display: inline-block;
    /* color: red; */
}
#profile{
    width: 30px;
    height: 30px;
   
}
#quemark{
    margin-top: 10px;
}
/* -----------------------------Navbar2------------------------- */
 #navbar2{
    width: 100%;
    margin: auto;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
} 
/* ------------------Search Bar------------------------------- */
 #searchImg{
    margin-left: 10px;
    margin-top: 20px;
}
#search{
    display: flex;
    width: 18%;
    /* border: 1px solid blue; */
}
#search:hover{
    border-bottom: 2px solid blue;
} 
#searchBar{

    padding:  20px;
    border: none;
  
}
input:focus::placeholder {
    color: transparent;
}
input:focus{
    outline: none;
}

/* -----------------Filter and Sort button-------------------- */
.sortCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.label{
    display: inline-block;
    font-weight: bolder;
    font-size: 10px;
    margin-right: 10px;
   
}
#navbar2>div:nth-child(2){
    width: 33%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 500px;
}
.btn-group{
    font-weight: bold;
    color: black; /* White text */
    padding: 10px; /*Some padding */
    cursor: pointer; /* Pointer/hand icon*/
     float: right; /* Float the buttons side by side */
}
.btn-group1{
    padding: 10px;
    color: black; /* White text */
    font-weight: bold;
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
}
.btn-group2{
   font-weight: bold;
    color: black; /* White text */
    padding: 10px;
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
}
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
/* --------------------------Create Project Button-------------------- */

#navbar2>div:nth-child(3)>a>button{
    padding: 10px 10px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #2962ff ;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

/* --------------------------Profile Dropdown----------------------------- */
.dropbtn {
    /* background-color: #3498DB; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 40px;
    margin-right: 130px;
  }
  #myDropdown {
    
    margin-top: -10px;
    margin-left: -170px;
    /* margin-left: -1000px; */
  }
  #myDropdown1{
    margin-top: 55px;
    padding-left: 10px;
  }
  .dropdown-content p {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    margin-left: 10px;
  }
  .btn{
    width: 100%;
    padding: 5px;
    font-weight: bold;
  }
  .dropdown p:hover {background-color: #ddd;}
  
  .show {display: block;}

  /* ---------------------------------Main Container--------------------------------------- */

  #container{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
   
  }

  .cards{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .default{
    width: 40px;
    /* border: 1px solid red; */
    margin-top: 10px;
    border-radius: 50px;
  }
  .title{
    margin-top: 30px;
    font-size: 14px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }
  #type1{
    margin-top: 0px;
  }
  .type2{
    margin-top: 0px;
    font-size: 10px;
    /* margin-top: 5px; */
    font-weight: 900;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }
  .type{
   
    font-size: 10px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
  }
  
  @media all and (min-width: 768px) and (max-width: 1024px) {  
    #container{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }
    #navbar2>div:nth-child(3)>a>button{
        margin-left: -150px;
        display: inline-block;
    }
  }

  @media all and (min-width: 320px) and (max-width: 767px) { 
    #navbar2{
        width: 100%;
        margin: auto;
        border: 1px solid gray;
        display: flex;
        flex-direction: column;
       
        background-color: white;
    } 
    #container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 20px; */
        padding: 20px;
    }
    #navbar2>div:nth-child(2){
        width: 33%;
        /* border: 1px solid black; */
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        /* margin-right: 500px; */
        margin-left: 250px;
    }
    /* #navbar2>div:nth-child(3)>a>button{
        margin-left: -250px;
        display: inline-block;
    } */
   }